@(products: Set[Product])

@import helper._
@main("Products catalogue") {

  <h1>All products</h1>

  <dl>
  @for(product <- products) {
    <dt>

      <a href="@routes.Products.details(product.ean)">
        <i class="icon icon-pencil"></i>
        @product.ean - @product.name
      </a>
    </dt>
    <dd>@product.description
      @form(action = routes.Products.delete(product.ean)){
        <button type="submit" class="btn btn-danger btn-mini">
          <i class="icon icon-white icon-trash"></i> Delete</button>
      }
    </dd>
  }
  </dl>

  <a href="@routes.Products.newProduct()" class="btn">
    <i class="icon-plus"></i> New product</a>
}
